<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>psatolyeproducttocategory</name>
	<displayName><![CDATA[PS At&ouml;lye Product to Category]]></displayName>
	<version><![CDATA[1]]></version>
	<description><![CDATA[Adds and Removes Products to a Category Fast and Easy]]></description>
	<author><![CDATA[Bora Yal&ccedil;ın]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>